<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% block stylesheetsCustom %}
            {% endblock stylesheetsCustom %}
        	{% block stylesheetsAll %}
        		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        	{% endblock stylesheetsAll %}
            {% if app.environment == 'node' %}
            	<link rel="stylesheet" href="{{ asset('styles/main.css') }}">
        		<link rel="stylesheet" href="{{ asset('styles/animate.css') }}">
            {% else %}
                {% block stylesheetsDist %}
                {% endblock stylesheetsDist %}
            {% endif %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="front-base">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% if app.environment == 'node' %}
            	{% block javascriptsDev %}
                <script type="text/javascript" src="/requirejs-config/config.js"></script>
                <script type="text/javascript" data-main={% block javascriptDataMain %}"{{ asset('/scripts/default-index-main.js') }}"{% endblock %}
                	src="/bower_components/requirejs/require.js"></script>
                {% endblock %}
            {% else %}
                {% block javascriptsDist %} <script type="text/javascript" src="{{ asset('scripts/default-index-main.js') }}"></script>{% endblock %}
            {% endif %}
            {% block customjavascripts %}{% endblock customjavascripts %}
        {% endblock %}
    </body>
</html>
