{% extends 'front-base.html.twig' %}
{% block title %}Lookmarkd{% endblock %}
{% block stylesheetsCustom %}
<style>
 #h {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url('{{ asset('img/header-hand-camera.jpg')}}') no-repeat;}
</style>
{% endblock stylesheetsCustom %}
{% block stylesheetsDist %}
<script>
    (function(u){function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}for(var i in u){loadCSS(u[i]);}}(["{{ asset('styles/main.css') }}","{{ asset('styles/animate.css') }}"]));
</script>
<noscript>
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/animate.css') }}">
</noscript>
{% endblock stylesheetsDist %}

{% block body %}
    
   <!-- ********** HEADER SECTION ********** --> 
	<div id="h">
		<div class="container">
			<div class="row">
			<ul class="nav nav-pills navbar-right">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle text16"
						data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
						aria-expanded="false">How It Works<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="login/brand" class="text16">Brand</a></li>
						<li><a href="login" class="text16">Influencer</a></li>
					</ul>
				</li>
				<li><a href="about-us" class="text16">About</a></li>
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle text16"
						data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
						aria-expanded="false">Sign In<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="login/brand" class="text16">Brand</a></li>
						<li><a href="login" class="text16">Influencer</a></li>
					</ul>
				</li>
			</ul>
			<h3 class="logo">LOOKMARKD</h3>
				<h1>Easily Connecting<br/>Influencers &amp; Brands</h1>	
			</div><!--/row -->
			
			<div class="row">
				<div class="col-md-12">
					<div class="dropdown">
					  <a class="btn btn-lg btn-green dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <i class="ion-locked"></i>Get Started
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu" style="right:50%;left:auto;" aria-labelledby="dropdownMenu2">
					    <li><a href="#">Brand</a></li>
					    <li><a href="#">Influencer</a></li>
					  </ul>
					</div>
					<a href="#" id="hero-learn-more">Learn More</a>
				</div>
			</div>
			
			<div class="row">
				<div class="continue">
					<i class="ion-chevron-down big"></i>
				</div>
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/header -->	  

	<!-- ********** CALL TO ACTION SECTION ********** --> 
	<div id="cta">
		<div class="container">
			<div class="row">
				<h2>Save time + increase revenue with best in class communication/management tools for brands and influencers.</h2>
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/CTA -->

	<!-- ********** INTRODUCTION SECTION ********** --> 
	<div class="container mt">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2 id="how-it-works-title">How It Works</h2>
				<hr class="aligncenter">
			</div><!-- /col-md-6-->
		</div><!--/row -->
		
		<div class="row">
			<div class="col-md-5 text-center">
				<h3 class="wow fadeIn">Brands</h3>
				<hr class="aligncenter">
				<h4 class="wow fadeIn">Create - Manage - Track</h4>
				<br />
				<span class="wow slideInLeft" style="font-size: 10em;font-weight:800; border: solid 5px;">
					<i class="ion-stats-bars" style="margin-left:0.25em;"></i>
				</span>
				<br />
				<p class="wow slideInLeft">
					Tap on influencer based marketing. Confidently, find the right
					influencers that can help you reach your target audience quickly and
					effectively.
				</p>
				<p class="wow slideInLeft">
					Armed with India's most popular bloggers and influencers - create, manage and track your campaigns with our easy and rich tools.
					Get the best insights and stats for your campaign to squeeze the maximum ROI.
				</p>
				<p>
					<a href="/brands/how-it-works" class="wow slideInUp btn btn-lg btn-green">Learn More</a>
				</p>
			</div>
			<div class="col-md-2 text-center">
				<span class="wow slideInDown" style="font-size: 10em;font-weight:800;"><i class="ion-arrow-swap"></i></span>
			</div>
			<div class="col-md-5 of text-center">
				<h3 class="wow fadeIn">Influencers</h3>
				<hr class="aligncenter">
				<h4 class="wow fadeIn">Influence - Share - Earn</h4>
				<br />
				<span class="wow slideInRight" style="font-size: 10em;font-weight:800; border: solid 5px;border-radius:50%;">
					<i class="ion-person" style="margin-left:0.25em;"></i>
				</span>
				<br />
				<p class="wow slideInRight">Get discovered by brands loved by your followers and be a part of
				their digital campaigns. Keep a track of brands and campaigns with
				our tools so you can have more time to do the things you love.
				</p>
				<p class="wow slideInRight">Connect with brands in a few clicks and get detailed
				instructions about their campaigns. Get reminded of upcoming deadlines with
				schedulers and and submit deliverables - All Automated</p>
				<p  class="wow slideInUp">
					<a class="wow slideInUp btn btn-lg btn-social btn-instagram" 
						href="https://api.instagram.com/oauth/authorize/?client_id={{ instagram_client_id }}&redirect_uri={{ url('instagram_login') | url_encode(true) }}&response_type=code">
					  <span class="ion-social-instagram-outline"></span>
					  Sign in with Instagram
					</a>
					<a class="wow slideInUp btn btn-lg btn-green" href="/influencer/how-it-works">Learn More</a>
				</p>
			</div>
		</div><!--/row -->
	</div><!--/container -->
	
	<!-- ********** FEATURES SECTION - Part 1 ********** -->
	<div id="g"> 
		<div class="container mt">
			<div class="row">
				<div class="col-md-4 centered">
					<i class="ion-help-circled green big wow fadeIn"></i>
					<p class="green wow fadeIn">Awesome Support</p>
					<p class="text16 wow fadeIn">Great support for timely and delightful help, if you need it.
				</div><!--/col-md-4-->
				<div class="col-md-4 centered">
					<i class="ion-ios-analytics-outline green big wow fadeIn"></i>
					<p class="green wow fadeIn">Genuine Metrics</p>
					<p class="text16 wow fadeIn">Metrics that give you the right picture to track your campaigns and hashtags.</p>
				</div><!--/col-md-4-->
				<div class="col-md-4 centered">
					<i class="ion-pie-graph green big wow fadeIn"></i>
					<p class="green wow fadeIn">Detailed Reports</p>
					<p class="text16 wow fadeIn">Get detailed reports and analytics about campaigns and followers.</p>
				</div><!--/col-md-4-->
			</div><!--/row -->		
		</div><!--/container -->
	</div>
	
	<div id="cta">
		<div class="container">
			<div class="row centered">
				<h2>Brands On Our Platform</h2>
				<hr class="aligncenter">
				<br />
				<img src="{{ asset('img/accessorizelogopink.png') }}" style="margin-right: 10px;" />
				<img src="{{ asset('img/beinghuman_logo.gif') }}" style="margin-right: 10px;" />
				<img src="{{ asset('img/wacoal_logo.gif') }}" style="margin-right: 10px;" />
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/CTA -->
	
	<div id="g">
		<div class="container">
			<div class="row mt">
				<div class="col-md-6 col-md-offset-3 centered">
					<h2>Stay In Contact</h2>
					<hr class="aligncenter">
					<h4>We Are Social People</h4>
					<p class="text28">
					<a href="#"><i class="ion-social-twitter big"></i></a>
					<a href="#"><i class="ion-social-instagram big"></i></a>
					<a href="#"><i class="ion-social-facebook big"></i></a>
					</p>
				</div><!-- /col-md-6-->
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/g -->
	
	<!-- ********** END SECTION ********** --> 
	<div class="container">
		<div class="row mtb">
			<div class="col-md-6 col-md-offset-3 centered">
				<hr class="aligncenter">
				<p>Lookmarkd | Copyright 2016</p>
			</div>
		</div><!--/row -->
	</div><!--/container -->
    
{% endblock %}
