{% extends 'dashboard-base.html.twig' %}
{% block title %}Create Campaign{% endblock %}
{% block stylesheetsDist %}
    <style type="text/css">
    </style>
    <script>
        (function (u) {
            function loadCSS(e, t, n) {
                "use strict";
                function r() {
                    for (var t, i = 0; i < d.length; i++)d[i].href && d[i].href.indexOf(e) > -1 && (t = !0);
                    t ? o.media = n || "all" : setTimeout(r)
                }

                var o = window.document.createElement("link"), i = t || window.document.getElementsByTagName("script")[0], d = window.document.styleSheets;
                return o.rel = "stylesheet", o.href = e, o.media = "only x", i.parentNode.insertBefore(o, i), r(), o
            }

            for (var i in u) {
                loadCSS(u[i]);
            }
        }(["{{ asset('styles/dashboard-style.css') }}", "{{ asset('styles/style-responsive.css') }}"]));
    </script>
    <noscript>
        <link rel="stylesheet" href="{{ asset('dashboard-style/style.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('styles/style-responsive.css') }}"/>
{% endblock stylesheetsDist %}
{% block stylesheetsCustom %}
    <style type="text/css">

        p.narrow {
            width: 60%;
            margin: 10px auto;
        }

        .liner {
            height: 2px;
            background: #ddd;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        span.round-tabs {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: white;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
        }

        span.round-tabs.one {
            color: rgb(34, 194, 34);
            border: 2px solid rgb(34, 194, 34);
        }

        li.active span.round-tabs.one {
            background: #fff !important;
            border: 2px solid #ddd;
            color: rgb(34, 194, 34);
        }

        span.round-tabs.two {
            color: #febe29;
            border: 2px solid #febe29;
        }

        li.active span.round-tabs.two {
            background: #fff !important;
            border: 2px solid #ddd;
            color: #febe29;
        }

        span.round-tabs.three {
            color: #3e5e9a;
            border: 2px solid #3e5e9a;
        }

        li.active span.round-tabs.three {
            background: #fff !important;
            border: 2px solid #ddd;
            color: #3e5e9a;
        }

        span.round-tabs.four {
            color: #f1685e;
            border: 2px solid #f1685e;
        }

        li.active span.round-tabs.four {
            background: #fff !important;
            border: 2px solid #ddd;
            color: #f1685e;
        }

        span.round-tabs.five {
            color: #999;
            border: 2px solid #999;
        }

        li.active span.round-tabs.five {
            background: #fff !important;
            border: 2px solid #ddd;
            color: #999;
        }

        .nav-tabs > li.active > a span.round-tabs {
            background: #fafafa;
        }

        .nav-tabs > li {
            width: 20%;
        }

       /* li:after {
            content: " ";
            position: absolute;
            left: 45%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #ddd;
            transition: 0.1s ease-in-out;

        }

        li.active:after {
            content: " ";
            position: absolute;
            left: 45%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #ddd;

        }*/

        .nav-tabs > li a {
            width: 70px;
            height: 70px;
            margin: 20px 50px;
            border-radius: 100%;
            padding: 0;
        }

        .nav-tabs > li a:hover {
            background: transparent;
        }

        .tab-pane {
            position: relative;
            padding-top: 50px;
        }

        .tab-content .head {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 25px;
            text-transform: uppercase;
            padding-bottom: 10px;
        }

        .btn-outline-rounded {
            padding: 10px 40px;
            margin: 20px 0;
            border: 2px solid transparent;
            border-radius: 25px;
        }

        .btn.green {
            background-color: #5cb85c;
            /*border: 2px solid #5cb85c;*/
            color: #ffffff;
        }

        #myTab.nav-tabs > li > a, #myTab.nav-tabs > li.active > a {
            background-color: transparent;
            margin-right: 0;
            border: 0;
        }

        #myTab {
            background-color: transparent;
            margin: 0;
            padding: 0;
            border: 0;
        }

        i.glyphicon {margin-right:0;}

        @media ( max-width: 585px ) {

            span.round-tabs {
                font-size: 16px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .tab-content .head {
                font-size: 20px;
            }

            .nav-tabs > li a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            li.active:after {
                content: " ";
                position: absolute;
                left: 35%;
            }

            .btn-outline-rounded {
                padding: 12px 20px;
            }

        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>

                    <li class="active">
                        <a href="#schedule" data-toggle="tab" title="Select campaign schedule">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-calendar"></i>
                         </span>
                        </a></li>

                    <li>
                        <a href="#message" data-toggle="tab" title="Craft message">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-envelope"></i>
                      </span>
                        </a></li>

                    <li><a href="#influencers" data-toggle="tab" title="Select influencers">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span>
                        </a>
                    </li>
                    <li><a href="#reward-type" data-toggle="tab" title="Select reward type">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                    </li>

                    <li><a href="#done" data-toggle="tab" title="completed">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-ok"></i>
                         </span> </a>
                    </li>

                </ul>
               </div>
            </div>
<div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane fade" id="message">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="well well-sm">
                                <form class="form-horizontal" action="" method="post">
                                    <fieldset>
                                        <legend class="text-center">Message for Influencers</legend>

                                        <!-- Name input-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="name">Subject</label>
                                            <div class="col-md-9">
                                                <input id="subject" name="subject" type="text"
                                                       placeholder="Subject Line" class="form-control">
                                            </div>
                                        </div>


                                        <!-- Message body -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" id="mBody" for="message">Message
                                                Body</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" id="message" name="body"
                                                          placeholder="Please enter your message here..."
                                                          rows="5"></textarea>
                                            </div>
                                        </div>

                                        <!-- Form actions -->
                                        <div class="form-group">
                                            <div class="col-md-12 text-right">
                                                <p class="text-center">
                                                    <a href="#influencers" id="mailSent"
                                                           class="btn btn-success btn-outline-rounded green next-button">
                                                           Next: Select Influencers
                                                          </a>
                                                </p>


                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="tab-pane fade" id="influencers">


                    <h3 class="head text-center">Select Influencers for Campaign</h3>

                    <p class="text-center ">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">@himalisehgal</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">@vivekranjan</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" value="" disabled>@nikeshmasiwal</label>
                        </div>

                    </div>


                    </p>

                    <p>
                        <a href="#reward-type" class="btn btn-success btn-outline-rounded green next-button">
                            Next: Select Reward Type
                        </a>
                    </p>

                </div>
                <div class="tab-pane fade" id="reward-type">
                    <h3 class="head text-center">Reward Type</h3>
                    <p class="narrow text-center">
                        List down the Barters that the influencers will be eligible to get after completing the
                        assignment
                    </p>


                </div>
                <div class="tab-pane fade in active" id="schedule">
                    <h3 class="head text-center">Select Campaign Dates</h3>
                    <p class="narrow text-center">

                        <label for="from">From</label>
                        <input type="text" id="from" name="from" class="form-control">
                        <label for="to">to</label>
                        <input type="text" id="to" name="to" class="form-control">

                    </p>

                    <p class="text-center">
                        <a href="#message" class="btn btn-success btn-outline-rounded green next-button"
                         data-next-step="message">
                         Next: Draft Message</a>
                    </p>
                </div>
                <div class="tab-pane fade" id="done">
                    <div class="text-center">
                        <i class="img-intro icon-checkmark-circle"></i>
                    </div>
                    <h3 class="head text-center">DONE ! YOUR Campaign is Live for Influencers <span
                                style="color:#f48260;">♥</span> Bootstrap</h3>
                    <p class="narrow text-center">

                        Any communication will be displayed here.


                    </p>
                </div>
               </div>
               </div>
              </div>
{% endblock %}
{% block javascriptDataMain %}"{{ asset('scripts/campaign-create-main.js') }}"{% endblock %}
{% block javascriptsDist %} <script type="text/javascript" src="{{ asset('scripts/campaign-create-main.js') }}"></script>{% endblock %}