{% extends 'front-base.html.twig' %}

{% block title %}Almost done...{% endblock %}
{% block stylesheetsDist %}
<style type="text/css">
 	{% include 'public/styles/critical/index.css' ignore missing %}
</style>
<script>
    (function(u){function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}for(var i in u){loadCSS(u[i]);}}(["{{ asset('styles/main.css') }}"]));
</script>
<noscript>
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
</noscript>
{% endblock stylesheetsDist %}

{% block body %}
	<div class="container mt">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>Just One More Thing</h2>
				<hr class="aligncenter">
				<h4>I need your e-mail to get in touch</h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->
		
		<div class="row centered">
			<div class="col-md-6 col-md-offset-3 mt">
				{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
				{{ form_start(form) }}
				{{ form_errors(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div><!--/col-md-6 -->
			
		</div><!--/row -->
	</div><!--/container -->
{% endblock body %}